large_files/*
ec2_python_scripts/warc_file_extractor_script/output/*
ec2_python_scripts/warc_file_extractor_script/__pycache__/*
pytorch_local/notebooks/hf_models/*
ec2_python_scripts/warc_file_extractor_script/warc_files.csv
ec2_python_scripts/opensearch_mapping_script/.env
